<div class = "info">

  <div class="home_header">
    <h1>ようこそ<strong>Booker</strong>sへ！</h1>
  </div>

  <div class = "introduce">
    <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>
  </div>

  <div class = "start">
    <%= link_to "start", "/books" %>
  </div>

</div>